/* styles*/
.container {
  padding: 10px 10px;
  text-align: center;
  background-color: rgb(240, 248, 255);
  min-height:500px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}
body{
  background-color: rgb(33, 97, 194);
}
.source {
  color: #0a2a46;
}
.destination {
  color: #996e10;
}
#output {
  font-size: 24px;
  padding-top: 50px;
}
.row{
  padding-top: 160px;
}
h1{
  color: rgb(33, 97, 194);;
}